body {
  background-image: url('/weather-dashboard/assets/images/weather-background-unbusy.jpg');
  /* background-color: rgba(255, 255, 255, 1); */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: grey;
}

.weather-header {
  
  /* background-image: radial-gradient(circle, red, yellow, green); */
  background-image: radial-gradient(circle, #FFDB58, #159cef);
}

.hr {
  border: 0;
  height: 1px;
  background-color: grey;
}

label {
  font-size: 1.5rem !important;
}

form label, h3 {
  color: #bda75a
}

small {
  color: #8d9db6;
}

h3 {
  font-size: 2.5rem !important;
}

.card {
  width: 12rem;
  background-color: transparent !important;
  color: white !important;
  border: none !important;

}.card-title {
  color: #2f3a4b;
}

.region {
  border: solid 1px grey;
}

.btn-primary {
  background-color: #8d9db6 !important;
}

.list-group-item {
  font-size: 13px !important;
  background-color: transparent !important;
  border: none !important;
}


